#outer-class-lottery {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    background-color:#1a294d;
    color: white;
    width: 100vw;
    height: 75vh;
    padding-top: 5vh;
    padding-bottom: 15vh;
    margin-top: 5vh;
}

.lottery-highlight-text {
    color: #f5bd01;
    font-weight: bold;
    font-size: xx-large;
}

.lottery-text-decoration {
    color: white;
}